.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-background
{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/072/481/original/abstract-geometric-white-wallpaper-free-vector.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 2em;
    color:#333;
    margin: 60px;
}

.myCanvas{
    background-color: #333;
    border: 1px solid #000;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 10px;
}

button{
    background-color: #333;
    color: #fff;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;  
    margin-left: 50px; 
    font-family: 'Roboto Slab', serif;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(244, 19, 19);
    border: 1px solid #000;
    cursor: pointer;
    transition: 1s;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #333;
    margin: 10px;
}